.navbar {
  min-height: 100px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  font-family: 'Roboto', sans-serif;
}

a {
  padding: 8px;
  text-decoration: none;
  color: black;
  
}

.submit-button {
  float: right;
}

.submit {
  color: white;
  background-color: blue;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  border: 0;
  float: right;
  font-size: 13px;
  font-weight: bold;
  
}

.apps {
  float: right;
}

.gmail {
  float: right;
}

.images {
  float: right;
}

.logo {
  display: fixed;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.search-bar {
  display: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

#input-search {
  border-radius: 20px;
  border: silver solid 1px;
  padding: 9px;
  width: 60%;
}

.search-buttons {
  display: fixed;
}

#submit {
  background: none;
  border: none;
  color: grey;
  font-size: 15px;
  width: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: grey;
  font-size: 15px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.container {
  text-align: center;
}
